

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Enriqueta&display=swap');

body {
    background-color: rgba(249, 142, 48, 0.605);
}

h1 {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin: 10px;

}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family: Encode Sans Expanded;
}

p {
    margin: 10px;
    width:  80%;
    font-family: Enriqueta;
    font-size: 30px;
    padding-bottom: -2px;
}

.link {
    margin: 8px;
    padding-top: 10px;
    width: 18%;
    text-align: center;
    padding-left: 30px;
    border-radius: 10px;

}

nav a:hover {
    color: rgb(242, 241, 247);
}

ul {
    font-size: larger;

}

.rodape {
    /* background-color: rgba(237, 92, 14, 0.877); */
    padding-bottom: 8px;
    padding-top: 0; 
    width: 100%;
}

#p1 {
    text-align: center;
    font-size:x-large
}

figure {
    text-align: center;
    background-color: rgba(246, 72, 8, 0.858);
    padding: 10px;
    width: 20%;
}