

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Enriqueta&display=swap');

body {
    background-color: rgb(245, 245, 245);
}

h1 {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin:0;

}

h2{  
    font-family: Encode Sans Expanded; 
}
h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family: Encode Sans Expanded;
}

p {
    margin: 10px;
    width:  80%;
    font-family: Enriqueta;
    font-size: 30px;
    padding-bottom: -2px;
}

.link {
    margin: 8px;
    padding-top: 10px;
    width: 18%;
    text-align: center;
    padding-left: 30px;
    border-radius: 10px;

}

nav a:hover {
    color: rgb(22, 96, 208);
}

ul {
    font-size: larger;

}

#p1 {
    text-align: center;
    font-size:x-large
}

figure {
    text-align: center;
    background-color: rgba(246, 72, 8, 0.858);
    padding: 10px;
    width: 20%;
}