

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather&display=swap');


body {
    background-color: rgba(249, 142, 48, 0.605);
}

h1 {
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: rgb(249, 121, 9);
    color: rgb(11, 69, 176);
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    width: 50% ;
    margin: auto;
}

h2 {
    color: rgb(11, 69, 176);
}

p {
    background-color: rgba(254, 120, 41, 0.445);
    margin: 0%;
    width:  80%;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

